<!--
=========================================================
* Soft UI Dashboard PRO - v1.1.1
=========================================================

* Product Page:  https://www.creative-tim.com/product/soft-ui-dashboard-pro 
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid py-4">
    <section class="py-3">
        <div class="row">
            <div class="col-md-8 me-auto text-left">
                <h5>List of Products</h5>
            </div>
        </div>
        <div class="row mt-lg-4 mt-2">
            {% for p in page_obj %}
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card" style="height: 360px;">
                  <div class="card-body p-3">
                    <div class="position-relative mb-3">
                        <a class="d-block shadow border-radius-md">
                            {% if p.ProductImg %}
                            <img src="{{ p.ProductImg }}" alt="img-blur-shadow" class="img-fluid border-radius-md">
                        {% else %}
                            <img src="{% static 'img/no.jpeg' %}" alt="no image" class="img-fluid border-radius-md">
                        {% endif %}
                        </a>
                    </div>
                    <a href="{% url 'prod_details' p.no %}">
                        <h6 class="text-sm text-primary" style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; height: 3em; text-overflow: ellipsis;">
                          {{ p.ProductName | linebreaksbr }}
                        </h6>
                      </a>                      
                    <div class="row mb-0">
                        <h6 class="text-sm mb-0">Price: <span class="text-secondary text-sm font-weight-bold mb-0">RM {{p.ProductPrice}}</span></h6>
                        <h6 class="text-sm mb-0">Sold: <span class="text-secondary text-sm font-weight-bold mb-0">{{p.ProductSold}}</span></h6>
                    </div>
                    <div class="row  mt-0">
                        <div class="d-flex align-items-center">
                            <h6 class="text-sm mb-0">Rating: <span class="text-secondary text-sm font-weight-bold mb-0">{{p.ProductRating}}</span></h6>
                            <div class="ms-auto text end">
                            <a href="{% url 'prod_details' p.no %}"><i class="ni ni-bold-right"></i></a>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>    <!-- Pagination -->
        <div class="row justify-content-center">
            <div class="col-12">
                <nav aria-label="Pagination" class="d-flex justify-content-center">
                    <ul class="pagination mx-3">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="First">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                                <span class="visually-hidden">First</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                        </li>
                        {% endif %}
        
                        <li class="page-item disabled">
                            <span class="page-link current-page text-dark text-sm font-weight-bold">
                               {{ page_obj.number }}
                            </span>
                        </li>
        
                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                                <span class="visually-hidden">Last</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        
               
    </section>
</div>

{% endblock content %}