{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-lg-flex">
                        <div>
                            <h5 class="mb-0">All Products</h5>
                            <p class="text-sm mb-0">
                                A lightweight, extendable, dependency-free javascript HTML table plugin.
                            </p>
                        </div>
                        <div class="ms-auto my-auto mt-lg-0 mt-4">
                            <div class="ms-auto my-auto">
                                <a href="./new-product.html" class="btn bg-gradient-primary btn-sm mb-0"
                                    target="_blank">+&nbsp; New Product</a>
                                
                                <button class="btn btn-outline-primary btn-sm export mb-0 mt-sm-0 mt-1" data-type="csv" type="button" name="button">Export</button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-0">
                    <div class="table-responsive">
                        <table class="table table-flush" id="products-list">
                            <thead class="thead-light">
                                <tr>
                                    <th>Product</th>
                                    <th>Category</th>
                                    <th>Price</th>
                                    <th>SKU</th>
                                    <th>Quantity</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="d-flex">
                                            <img class="w-10 ms-3"
                                                src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/ecommerce/adidas-hoodie.jpg"
                                                alt="hoodie">
                                            <h6 class="ms-3 my-auto">BKLGO Full Zip Hoodie</h6>
                                        </div>
                                    </td>
                                    <td class="text-sm">Clothing</td>
                                    <td class="text-sm">$1,321</td>
                                    <td class="text-sm">243598234</td>
                                    <td class="text-sm">0</td>
                                    <td>
                                        <span class="badge badge-danger badge-sm">Out of Stock</span>
                                    </td>
                                    <td class="text-sm">
                                        <a href="javascript:;" data-bs-toggle="tooltip"
                                            data-bs-original-title="Preview product">
                                            <i class="fas fa-eye text-secondary"></i>
                                        </a>
                                        <a href="javascript:;" class="mx-3" data-bs-toggle="tooltip"
                                            data-bs-original-title="Edit product">
                                            <i class="fas fa-user-edit text-secondary"></i>
                                        </a>
                                        <a href="javascript:;" data-bs-toggle="tooltip"
                                            data-bs-original-title="Delete product">
                                            <i class="fas fa-trash text-secondary"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>

<script>
$(document).ready(function() {

    var dataTable = $('#products-list').DataTable({
        searching: true,
        fixedHeader: false,
        pageLength: 7,
        lengthMenu: [
            [7, 10, 25, 50, -1],
            [7, 10, 25, 50, 'All']
        ],
        buttons: [
            {
                extend: 'csv',
                text: 'Export',
                className: 'btn btn-outline-primary btn-sm export',
                filename: 'regex',
                exportOptions: {
                    orthogonal: 'export'
                }
            }
        ],
    });

    $('.export').on('click', function() {
    var type = $(this).data('type');
    var filename = 'regex.' + type;

    if (type === 'csv') {
        dataTable.button('.buttons-csv').trigger();
    }
    });


});
</script>
{% endblock scripts %}
