{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- theme meta -->
    <meta name="theme-name" content="focus" />
    <title>{% block title %}Gadgeteen{% endblock %}</title>
    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lib/calendar2/pignose.calendar.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lib/chartist/chartist.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lib/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lib/themify-icons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lib/owl.carousel.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lib/owl.theme.default.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lib/weather-icons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lib/menubar/sidebar.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lib/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lib/helper.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <div class="logo"><a href="index.html">
                            <!-- <img src="images/logo.png" alt="" /> --><span>Gadgeteen</span></a></div>
                    <li class="label">Main</li>
                    <li><a class="sidebar-sub-toggle"><i class="ti-home"></i> Dashboard <span
                                class="badge badge-primary">2</span>
                    </li>

                   
                    <li><a href="{% url 'logout' %}"><i class="ti-close"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /# sidebar -->

    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-left">
                        <div class="hamburger sidebar-toggle">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="float-right">
                        <div class="dropdown dib">
                            <div class="header-icon" data-toggle="dropdown">
                                <span class="user-avatar">John
                                    <i class="ti-angle-down f-s-10"></i>
                                </span>
                                <div class="drop-down dropdown-profile dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-content-body">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="ti-user"></i>
                                                    <span>Profile</span>
                                                </a>
                                            </li>

                                            
                                            <li>
                                                <a href="#">
                                                    <i class="ti-settings"></i>
                                                    <span>Setting</span>
                                                </a>
                                            </li>

                                            
                                            <li>
                                                <a href="{% url 'logout' %}">
                                                    <i class="ti-power-off"></i>
                                                    <span>Logout</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-wrap">
        <div class="main">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% block include_js %}
    {% endblock %}
        <!-- jquery vendor -->
        <script src="{% static 'js/lib/jquery.min.js' %}"></script>
        <script src="{% static 'js/lib/jquery.nanoscroller.min.js' %}"></script>
        <!-- nano scroller -->
        <script src="{% static 'js/lib/menubar/sidebar.js' %}"></script>
        <script src="{% static 'js/lib/preloader/pace.min.js' %}"></script>
        <!-- sidebar -->
    
        <script src="{% static 'js/lib/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <!-- bootstrap -->
    
        <script src="{% static 'js/lib/calendar-2/moment.latest.min.js' %}"></script>
        <script src="{% static 'js/lib/calendar-2/pignose.calendar.min.js' %}"></script>
        <script src="{% static 'js/lib/calendar-2/pignose.init.js' %}"></script>
    
    
        <script src="{% static 'js/lib/weather/jquery.simpleWeather.min.js' %}"></script>
        <script src="{% static 'js/lib/weather/weather-init.js' %}"></script>
        <script src="{% static 'js/lib/circle-progress/circle-progress.min.js' %}"></script>
        <script src="{% static 'js/lib/circle-progress/circle-progress-init.js' %}"></script>
        <script src="{% static 'js/lib/chartist/chartist.min.js' %}"></script>
        <script src="{% static 'js/lib/sparklinechart/jquery.sparkline.min.js' %}"></script>
        <script src="{% static 'js/lib/sparklinechart/sparkline.init.js' %}"></script>
        <script src="{% static 'js/lib/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/lib/owl-carousel/owl.carousel-init.js' %}"></script>
        <!-- scripit init-->
        <script src="{% static 'js/dashboard2.js' %}"></script>
        <!-- Include the DataTables JS file -->
        <script src="{% static 'js/lib/data-table/jquery.dataTables.min.js' %}"></script>
</body>
</html>
