{% load staticfiles %}
{% load myfilters %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Gadgeteen{% endblock %}</title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lib/calendar2/pignose.calendar.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lib/chartist/chartist.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lib/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lib/themify-icons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lib/owl.carousel.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lib/owl.theme.default.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lib/weather-icons.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lib/menubar/sidebar.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lib/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/lib/helper.css' %}" rel="stylesheet" type="text/css">
</head>

<body class="bg-primary">

    <div class="unix-login">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="/"><span>Gadgeteen</span></a>
                        </div>
                        <div class="login-form">
                            <h4>Login</h4>
                            {% if form.errors %}
                                <p>Your username and password didn't match. Please try again.</p>
                            {% else %}
                                
                            {% endif %}
                            <form action="{% url 'login' %}" method="post">
                                <div class="form-group">
                                    <label>Username</label>
                                    {{ form.username|addclass:'form-control'}}
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    {{ form.password|addclass:'form-control'}}
                                </div>
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ next }}" />
                                <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Sign in</button>
                                <div class="register-link m-t-15 text-center">
                                    <p>Don't have account ? <a href="#"> Sign Up Here</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>