.u-section-1 .u-sheet-1 {
  min-height: 1057px;
}

.u-section-1 .u-layout-wrap-1 {
  position: relative;
  margin: 109px auto 109px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 491px;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 20px;
}

.u-section-1 .u-image-1 {
  height: 264px;
  position: relative;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  position: relative;
  font-size: 1.25rem;
  margin: 20px 20px 0;
}

.u-section-1 .u-text-2 {
  position: relative;
  font-size: 0.875rem;
  margin: 10px 20px 0;
}

.u-section-1 .u-link-1 {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  width: 83px;
  margin: 10px auto 18px 20px;
}

.u-section-1 .u-layout-cell-2 {
  background-image: none;
  min-height: 491px;
}

.u-section-1 .u-container-layout-2 {
  padding-bottom: 20px;
}

.u-section-1 .u-image-2 {
  height: 264px;
  position: relative;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  position: relative;
  font-size: 1.25rem;
  margin: 20px 20px 0;
}

.u-section-1 .u-text-4 {
  position: relative;
  font-size: 0.875rem;
  margin: 10px 20px 0;
}

.u-section-1 .u-link-2 {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  width: 83px;
  margin: 10px auto 18px 20px;
}

.u-section-1 .u-layout-cell-3 {
  background-image: none;
  min-height: 491px;
}

.u-section-1 .u-container-layout-3 {
  padding-bottom: 20px;
}

.u-section-1 .u-image-3 {
  height: 264px;
  position: relative;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  position: relative;
  font-size: 1.25rem;
  margin: 20px 20px 0;
}

.u-section-1 .u-text-6 {
  position: relative;
  font-size: 0.875rem;
  margin: 10px 20px 0;
}

.u-section-1 .u-link-3 {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  width: 83px;
  margin: 10px auto 18px 20px;
}

.u-section-1 .u-layout-cell-4 {
  background-image: none;
  min-height: 451px;
}

.u-section-1 .u-container-layout-4 {
  padding-bottom: 20px;
}

.u-section-1 .u-image-4 {
  height: 264px;
  position: relative;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-7 {
  position: relative;
  font-size: 1.25rem;
  margin: 20px 20px 0;
}

.u-section-1 .u-text-8 {
  position: relative;
  font-size: 0.875rem;
  margin: 10px 20px 0;
}

.u-section-1 .u-link-4 {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  width: 83px;
  margin: 10px auto 18px 20px;
}

.u-section-1 .u-layout-cell-5 {
  background-image: none;
  min-height: 451px;
}

.u-section-1 .u-container-layout-5 {
  padding-bottom: 20px;
}

.u-section-1 .u-image-5 {
  height: 264px;
  position: relative;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-9 {
  position: relative;
  font-size: 1.25rem;
  margin: 20px 20px 0;
}

.u-section-1 .u-text-10 {
  position: relative;
  font-size: 0.875rem;
  margin: 10px 20px 0;
}

.u-section-1 .u-link-5 {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  width: 83px;
  margin: 10px auto 18px 20px;
}

.u-section-1 .u-layout-cell-6 {
  background-image: none;
  min-height: 451px;
}

.u-section-1 .u-container-layout-6 {
  padding-bottom: 20px;
}

.u-section-1 .u-image-6 {
  height: 264px;
  position: relative;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-11 {
  position: relative;
  font-size: 1.25rem;
  margin: 20px 20px 0;
}

.u-section-1 .u-text-12 {
  position: relative;
  font-size: 0.875rem;
  margin: 10px 20px 0;
}

.u-section-1 .u-link-6 {
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  width: 83px;
  margin: 10px auto 18px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 872px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 218px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-link-1 {
    width: 68px;
    margin-left: 16px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    height: 218px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-link-2 {
    width: 68px;
    margin-left: 16px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    height: 218px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-link-3 {
    width: 68px;
    margin-left: 16px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-image-4 {
    height: 218px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-link-4 {
    width: 68px;
    margin-left: 16px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-image-5 {
    height: 218px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-9 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-link-5 {
    width: 68px;
    margin-left: 16px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-image-6 {
    height: 218px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-11 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-link-6 {
    width: 68px;
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-1 .u-image-1 {
    height: 167px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-link-1 {
    width: 52px;
    margin-left: 13px;
  }

  .u-section-1 .u-image-2 {
    height: 167px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-link-2 {
    width: 52px;
    margin-left: 13px;
  }

  .u-section-1 .u-image-3 {
    height: 167px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-link-3 {
    width: 52px;
    margin-left: 13px;
  }

  .u-section-1 .u-image-4 {
    height: 167px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-link-4 {
    width: 52px;
    margin-left: 13px;
  }

  .u-section-1 .u-image-5 {
    height: 167px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-link-5 {
    width: 52px;
    margin-left: 13px;
  }

  .u-section-1 .u-image-6 {
    height: 167px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-11 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-link-6 {
    width: 52px;
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 376px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-link-1 {
    width: 49px;
    margin-left: 9px;
  }

  .u-section-1 .u-image-2 {
    height: 376px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-link-2 {
    width: 49px;
    margin-left: 9px;
  }

  .u-section-1 .u-image-3 {
    height: 376px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-link-3 {
    width: 49px;
    margin-left: 9px;
  }

  .u-section-1 .u-image-4 {
    height: 376px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-link-4 {
    width: 49px;
    margin-left: 9px;
  }

  .u-section-1 .u-image-5 {
    height: 376px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-link-5 {
    width: 49px;
    margin-left: 9px;
  }

  .u-section-1 .u-image-6 {
    height: 376px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-11 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-link-6 {
    width: 49px;
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 237px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-link-1 {
    margin-left: 6px;
  }

  .u-section-1 .u-image-2 {
    height: 237px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-link-2 {
    margin-left: 6px;
  }

  .u-section-1 .u-image-3 {
    height: 237px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-link-3 {
    margin-left: 6px;
  }

  .u-section-1 .u-image-4 {
    height: 237px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-link-4 {
    margin-left: 6px;
  }

  .u-section-1 .u-image-5 {
    height: 237px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-9 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-link-5 {
    margin-left: 6px;
  }

  .u-section-1 .u-image-6 {
    height: 237px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-11 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-link-6 {
    margin-left: 6px;
  }
}