{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
  <div class="container-fluid py-1 px-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
        <li class="text-sm text-dark active ms-2" aria-current="page">
          {% if request.path == '/' %} / Dashboard {% else %} {{ request.path|title }} {% endif %}
        </li>
      </ol>
    </nav>
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">    
      <ul class="navbar-nav  justify-content-end text-end ms-auto">

        {% if request.user.is_authenticated %}
          <li class="nav-item d-flex align-items-center">

            {% if request.user.is_superuser %}
            <a href="{% url 'admin:logout' %}" class="nav-link text-body font-weight-bold px-0">
            {% else %}
            <a href="{% url 'logout' %}" class="nav-link text-body font-weight-bold px-0">
            {% endif %}
            
              <i class="fa fa-user me-sm-1"></i>
              <span class="d-sm-inline d-none me-3">Logout</span>
            </a>
          </li>
        {% else %}
          <li class="nav-item d-flex align-items-center">
            <a href="{% url 'login' %}" class="nav-link text-body font-weight-bold px-0">
              <i class="fa fa-user me-sm-1"></i>
              <span class="d-sm-inline d-none me-3">Sign In</span>
            </a>
          </li>
        {% endif %}

        <li class="nav-item d-flex align-items-center">

          {% if request.user.is_superuser %}
          <a href="{% url 'admin:password_change' %}" class="nav-link text-body font-weight-bold px-0">
          {% else %}
          <a href="{% url 'password_change' %}" class="nav-link text-body font-weight-bold px-0">
          {% endif %}
            <span class="d-sm-inline d-none me-3">Change Password</span>
          </a>
        </li>

        <li class="nav-item pe-2 d-flex align-items-center">
          <label for="theme-switch" class="nav-link text-body p-0 m-0">
            <i class="fa fa-sun fixed-plugin-button-nav cursor-pointer" id="theme-indicator"></i>
          </label>
          <input type="checkbox" class="d-none" id="theme-switch"/>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->

